h1 {
    font-size: 100px;
}
  
  h2 {
    margin-bottom: 8px;
  
    font-family: sans-serif;
  }
  .page {
    width: 350px;
    min-height: 450px;
    padding: 16px;
    margin-bottom: 16px;
  
    border: 2px solid #000;

    font-family: sans-serif;
    font-size: 11px;
  }
  .light-shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4); }
    .page img {
      width: 175px;
      min-height: 225px;
      padding: 8px;
      margin-bottom: 8px;
    
      border: 2px solid #000;
    
      font-family: sans-serif;
      font-size: 11px;
    }
